.wrapper {
	display: flex;
	position: relative;
	height: 100%;
}

.wrapper .content {
	margin-left: clamp(200px, 20%, 350px);
	height: 100%;
	width: 100%;
	background-color: lightgray;
	overflow-x: hidden;
}

.wrapper .login-content {
	padding-left: clamp(200px, 20%, 350px);
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: var(--color-purple);
}

.content h1 {
	font-size: 2em;
	font-weight: bold;
}

.content .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .title h1 {
	width: 250px;
	display: inline;
	background: linear-gradient(to bottom right, transparent 50%, white 50%)
			no-repeat,
		linear-gradient(to top right, transparent 0.1%, white 0.1%) no-repeat,
		linear-gradient(to bottom left, transparent 50%, white 50%) no-repeat;
	background-size: 21px 100%, 210px 100%, 20px 100%;
	background-position: -1px 0%, 20px 0%, 230px 0%;
	text-align: center;
	z-index: 99;
	text-transform: uppercase;
	color: var(--color-dark-purple);
	text-shadow:0 1px 1px #bcbcbc, 
	0px 2px 1px #c2c2c2, 
	-1px 3px 1px #c8c8c8, 
	-1px 4px 1px #cbcbcb,
	-2px 5px 1px #d2d2d2,
	-2px 6px 1px #d5d5d5,
	-3px 7px 1px #e2e2e2,
	-3px 8px 1px #e6e6e6, 
	-4px 9px 1px #eaeaea,
	-4px 10px 1px #efefef;
}

.content .title button {
	background-color: var(--color-purple);
}

.content .title button:hover {
	background-color: var(--color-dark-purple);
}

.content .create-card {
	margin-bottom: 5px;
	padding-bottom: 15px;
}

.content .create-card table {
	margin: 0 auto;
}

.content .create-card form table tr td {
	padding: 5px 5px;
}

.content .create-card #create-title {
	font-size: larger;
	font-weight: bold;
	text-transform: capitalize;
}

.content .create-card label {
	font-size: large;
}

.content .btns-cell {
	text-align: center;
}

.content #cancel-btn {
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: rgb(220, 0, 0);
	color: white;
}

.content #cancel-btn:hover {
	background-color: rgb(180, 0, 0);
}

.content #create-btn {
	margin-right: 10px;
	margin-top: 10px;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: rgb(0, 160, 0);
	color: white;
}

.content #create-btn:hover {
	background-color: green;
}

.content .bi-pencil-square {
	margin-right: 17px;
}

.content .bi-zoom-in {
	margin-right: 17px;
}

.content .bi-trash {
	margin-right: 3px;
}

.content i {
	cursor: pointer;
	font-size: larger;
}

.content .bi-check2 {
	background-color: rgb(0, 215, 0);
	margin-right: 12px;
	padding: 0px 3px;
	border-radius: 5px;
	color: white;
}

.content .bi-x {
	background-color: rgb(255, 44, 44);
	padding: 0px 3px;
	border-radius: 5px;
	color: white;
}

.content .bi-check2::before,
.content .bi-x::before {
	padding-bottom: 2px;
}

.content #confirmation-alert {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.content .tremor-TableCell-root input {
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	padding: 2px 4px;
}

.content .tremor-Button-root {
	border: none;
}

.content .view-nav-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.content .view-nav-buttons button:nth-child(2) {
	background: rgb(0, 190, 0);
}

.content .view-nav-buttons button:nth-child(2):hover {
	background: rgb(0, 160, 0);
}

.content .view-nav-buttons button:first-child {
	background: rgb(230, 0, 0);
	color: white;
	box-shadow: none;
}

.content .view-nav-buttons button:first-child:hover {
	background: rgb(200, 0, 0);
}

.content .view-nav-buttons .bi-pencil-square {
	margin-right: 0.375rem;
	margin-left: -0.25rem;
}

.content .view-card .tremor-Table-root {
	padding: 10px 10%;
}

.content .view-card img {
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 2px 2px 5px darkgray;
}

#resolve-button {
	background-color: var(--color-purple);
}

#resolve-button:hover {
	background-color: var(--color-dark-purple);
}

.content .updater-form .tremor-Table-root {
	padding: 10px 10%;
}
