.wrapper {
	display: flex;
	position: relative;
	height: 100%;
}

.wrapper .content {
	margin-left: clamp(200px, 20%, 350px);
	height: 100%;
	width: 100%;
	background-color: lightgray;
	overflow-x: hidden;
}

.wrapper .login-content {
	padding-left: clamp(200px, 20%, 350px);
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: var(--color-purple);
}