.clients-page {
	padding: 5%;
}

.clients-page h1 {
	font-size: 2em;
	font-weight: bold;
}

.clients-page .title {
	position: relative;
}

.clients-page .title button {
	background-color: var(--color-purple);
	color: white;
	padding: 3px 10px;
	border-radius: 5px;
	position: absolute;
	right: 0;
	bottom: 5px;
}

.clients-page .title button:hover {
	background-color: var(--color-dark-purple);
}

.clients-page .create-card {
	margin-bottom: 5px;
	padding-bottom: 15px;
}

.clients-page .create-card table {
	margin: 0 auto;
}

.clients-page .create-card form table tr td {
	padding: 5px 5px;
}

.clients-page .create-card p {
	font-size: large;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.clients-page .create-card form input {
	border-radius: 5px;
	border: 1px solid black;
}

.clients-page .create-card .checkbox-label {
	margin-right: 20px;
	text-transform: capitalize;
}

.btns-cell {
	text-align: center;
}

#cancel-btn {
	margin-left: 10px;
	margin-top: 10px;
	padding: 3px 10px;
	border-radius: 5px;
	background-color: rgb(220, 0, 0);
	color: white;
}

#cancel-btn:hover {
	background-color: rgb(180, 0, 0);
}

#create-btn {
	margin-right: 10px;
	margin-top: 10px;
	padding: 3px 10px;
	border-radius: 5px;
	background-color: rgb(0, 160, 0);
	color: white;
}

#create-btn:hover {
	background-color: green;
}

.clients-page .bi-pencil-square {
	margin-right: 15px;
}

.clients-page i {
	cursor: pointer;
	font-size: larger;
}