@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	height: 100%;
	padding: 0;
	background-color: lightgray;
	--color-purple: rgb(121, 81, 168);
	--color-dark-purple: rgb(105, 54, 158);
}

#root {
	height: 100%;
}
