.login {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.login-box {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 100px;
	background-color: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-box h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 32px;
}

.login-box h2 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.login-box input {
	border: 1px solid black;
	border-radius: 5px;
}

.login-box button {
	background-color: var(--color-purple);
	color: white;
	margin-top: 10px;
	padding: 5px 10px;
	border-radius: 5px;
}

form i {
	margin-left: -20px;
	cursor: pointer;
}

.errMsg {
	color: red;
}

.alert {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
