.sidebar {
	position: fixed;
	min-width: 200px;
	width: clamp(200px, 20%, 350px);
	height: 100%;
	background-color: var(--color-purple);
	box-shadow: rgba(0, 0, 0, 0.35) -10px 0px 50px;
}

.sidebar h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

.sidebar img {
	margin: 15px auto 0px auto;
}

.sidebar ul {
	padding-inline-start: 0px;
}

.sidebar ul li {
	padding: 15px;
	list-style: none;
}

.sidebar ul li:hover {
	background-color: var(--color-dark-purple);
}

.sidebar ul a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	font-size: x-large;
	text-shadow: 0px 0px 1px #000;
}

.sidebar hr {
	margin: 0px 5px;
	border-color: var(--color-dark-purple);
}

.sidebar .user-box {
	display: flex;
	align-items: center;
	padding: 5px;
	height: 60px;
	width: 100%;
	background-color: var(--color-dark-purple);
	position: absolute;
	bottom: 0px;
}

.sidebar .user-box p {
	width: 100%;
	color: white;
}

.sidebar .user-box svg {
	margin: 0 auto;
	height: 35px;
	cursor: pointer;
	color: white;
}
