.posts-page {
	padding: 5%;
}

.posts-page #small-image {
	border-radius: 50px;
	object-fit: cover;
	width: 50px;
	height: 50px;
	min-width: 50px;
}

.posts-page .updater-form #file-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.posts-page .updater-form #file-title div,
.posts-page .updater-form #file-title div * {
	cursor: pointer;
}

.posts-page .updater-form #file-title p {
	display: inline;
}

.posts-page .updater-form #file {
	padding: 5px 4px;
}
